<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.rider"
    versionCode = "10"
    version     = "1.0.0" >

  <name>Eatklik Rider App</name>

  <description>
      A Rider App
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Raza Ashraf
  </author>

  <plugin name="phonegap-plugin-mobile-accessibility" source="npm" />

</widget>

